client/config/utility/xsd/infra_management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="part_version.xsd" />
  <xs:include schemaLocation="part_notify_relation.xsd" />
  <xs:complexType name="SchemaInfoType">
    <xs:annotation>
      <xs:documentation>XMLスキーマ情報</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="schemaType" type="xs:string" minOccurs="0" maxOccurs="1" default="I">
        <xs:annotation>
          <xs:documentation>データ型のタイプ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemaVersion" type="xs:string" minOccurs="0" maxOccurs="1" default="1">
        <xs:annotation>
          <xs:documentation>データ型のバージョン</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemaRevision" type="xs:string" minOccurs="0" maxOccurs="1" default="1">
        <xs:annotation>
          <xs:documentation>データ型のバージョン</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="infraManagement" type="InfraManagementType">
    <xs:annotation>
      <xs:documentation>環境構築設定一覧のルートエレメントです。</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="InfraManagementType">
    <xs:annotation>
      <xs:documentation>環境構築設定一覧のデータ型です。</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="common" type="CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>XMLに付与する一般情報</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="schemaInfo" type="SchemaInfoType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>XMLスキーマ情報</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infraManagementInfo" type="InfraManagementInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>環境構築設定の配列です。</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfraManagementInfoType">
    <xs:annotation>
      <xs:documentation>環境構築設定情報です。</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="notifyGroupId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>通知グループID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notifyId" type="NotifyRelationInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>通知IDのコレクション</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="infraModuleInfo" type="InfraModuleInfo" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>モジュール設定の配列です。</xs:documentation>
        </xs:annotation>
      </xs:element>
    <xs:element name="infraManagementParam" type="InfraManagementParam" minOccurs="0" maxOccurs="unbounded">
      <xs:annotation>
        <xs:documentation>
          環境構築設定の環境変数設定です。
        </xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
    <xs:attribute name="managementId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>構築IDです。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>構築名です。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="description" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>構築設定の説明です。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="facilityId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          構築対象とするノードやスコープのファシリティIDです。
          リポジトリに登録されているものを指定します。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="scope" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          ファシリティIDに付けられたファシリティ名です。
          通常はリポジトリに既に登録されている情報が格納されるため、本項目への入力はマネージャへの登録時には無視されます。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ownerRoleId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>
          オーナーロールIDです。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="validFlg" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>
          この判定設定の有効・無効フラグです。
          {有効(True)、無効(False)}の文字列が入ります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startPriority" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          開始重要度(危険、警告、通知、不明)です。
          {危険(0)、不明(1)、警告(2)、情報(3)}の各index番号が入力される必要があります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="normalPriorityRun" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          実行正常重要度(危険、警告、通知、不明)です。
          {危険(0)、不明(1)、警告(2)、情報(3)}の各index番号が入力される必要があります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="abnormalPriorityRun" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          実行異常重要度(危険、警告、通知、不明)です。
          {危険(0)、不明(1)、警告(2)、情報(3)}の各index番号が入力される必要があります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="normalPriorityCheck" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          チェック正常重要度(危険、警告、通知、不明)です。
          {危険(0)、不明(1)、警告(2)、情報(3)}の各index番号が入力される必要があります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="abnormalPriorityCheck" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>
          チェック異常重要度(危険、警告、通知、不明)です。
          {危険(0)、不明(1)、警告(2)、情報(3)}の各index番号が入力される必要があります。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="regDate" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          環境構築設定の作成日時です。 マネージャ登録時の日時が入力されます。
          登録時には本項目は無視されます。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="regUser" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          環境構築設定の作成ユーザです。 マネージャ登録時のユーザが入力されます。
          登録時には本項目は無視されます。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="updateDate" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          環境構築設定の更新日時です。 マネージャ登録時の日時が入力されます。
          登録時には本項目は無視されます。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="updateUser" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          環境構築設定の更新ユーザです。 マネージャ登録時のユーザが入力されます。
          登録時には本項目は無視されます。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!-- モジュール情報のクラス -->
  <xs:complexType name="InfraModuleInfo">
  	<xs:annotation>
  		<xs:documentation>モジュール情報の基底クラスです。</xs:documentation>
  	</xs:annotation>
  	<xs:sequence>
      <xs:element name="fileTransferVariable" type="FileTransferVariableType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>ファイル配布モジュールの変数の配列です。</xs:documentation>
        </xs:annotation>
      </xs:element>
  	</xs:sequence>
  	<xs:attribute name="moduleId" type="xs:string" use="required">
  		<xs:annotation>
  			<xs:documentation>モジュールIDです。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="name" type="xs:string" use="required">
  		<xs:annotation>
  			<xs:documentation>モジュール名です。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="orderNo" type="xs:int" use="required">
  		<xs:annotation>
  			<xs:documentation>モジュールの実行順序の値(1～)です。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="moduleType" type="xs:string" use="required">
  		<xs:annotation>
  			<xs:documentation>
  				モジュールのタイプです。
  				{コマンド(ExecModule)、ファイル配布(FileTransferModule)}のいずれかの文字列が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="validFlg" type="xs:boolean" use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				このモジュール実行の有効・無効フラグです。 {有効(True)、無効(False)}の文字列が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="stopIfFailCommandFlg" type="xs:boolean"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				このモジュール実行が失敗した場合、後続モジュールを実行しないフラグです。
  				{有効(True)、無効(False)}の文字列が入ります。
  				コマンドモジュールの場合に、「リターンコードが0以外、後続モジュールを実行しない」の値が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="stopIfFailFileFlg" type="xs:boolean"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				このモジュール実行が失敗した場合、後続モジュールを実行しないフラグです。
  				{有効(True)、無効(False)}の文字列が入ります。
  				ファイル配布モジュールの場合に、「ファイル配置に失敗時、後続モジュールを実行しない」の値が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="precheckCommandFlg" type="xs:boolean"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				このモジュールを実行する前に、チェックを実施するフラグです。
  				{有効(True)、無効(False)}の文字列が入ります。
  				コマンドモジュールの場合に、「実行前チェックコマンド確認」の値が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="precheckFileFlg" type="xs:boolean"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				このモジュールを実行する前に、チェックを実施するフラグです。
  				{有効(True)、無効(False)}の文字列が入ります。
  				ファイル配布モジュールの場合に、「MD5が同じ場合、再転送しない」の値が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="accessMethodType" type="xs:int" use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				コマンドモジュールの実行方法です。
  				{SSH(0)、WinRM(1)}のいずれかのindex番号が入力される必要があります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="execCommand" type="xs:string"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>コマンドモジュールの実行コマンドです。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="checkCommand" type="xs:string"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>コマンドモジュールのチェックコマンドです。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="fileId" type="xs:string" use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				ファイル配布モジュールの配置ファイルIDです。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="destPath" type="xs:string" use="optional">
  		<xs:annotation>
  			<xs:documentation>ファイル配布モジュールの配置パスです。</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="sendMethodType" type="xs:int"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				ファイル配布モジュールの 転送方法です。
  				{SCP(0)、WinRM(1)}のいずれかのindex番号が入力される必要があります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="destOwner" type="xs:string" use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				ファイル配布モジュールのファイルのオーナーです。 転送方法でSCPを選択した場合のみ有効です。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="destAttribute" type="xs:string"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				ファイル配布モジュールのファイルの属性です。 転送方法でSCPを選択した場合のみ有効です。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
  	<xs:attribute name="backupIfExistFlg" type="xs:boolean"
  		use="optional">
  		<xs:annotation>
  			<xs:documentation>
  				ファイル配布モジュールのファイル配置時に古いファイルをリネームして保持するフラグです。
  				{有効(True)、無効(False)}の文字列が入ります。
  			</xs:documentation>
  		</xs:annotation>
  	</xs:attribute>
    <xs:attribute name="execReturnParamName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          モジュールを実行した際の戻り値を入れておく変数を設定します。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="referManagementId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          参照先の環境構築IDを設定します。
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!-- ファイル配布モジュール変数置換クラス -->
  <xs:complexType name="FileTransferVariableType">
    <xs:annotation>
      <xs:documentation>ファイル配布モジュールの変数置換クラスです。</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>検索文字列です。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>置換文字列です。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="InfraManagementParam">
    	<xs:annotation>
    		<xs:documentation>環境変数の設定情報です。</xs:documentation>
    	</xs:annotation>
    	<xs:sequence>
        <xs:element name="paramId" type="xs:string" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>環境変数のIDです。</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="passwordFlg" type="xs:boolean" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>パスワード表示するかのフラグです。</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>環境変数に対する説明です。</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>環境変数の値です。</xs:documentation>
          </xs:annotation>
        </xs:element>
    	</xs:sequence>
</xs:complexType>
</xs:schema>
