HinemosClient/config/utility/xsd/cloud_user.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="part_cloud_scope_check.xsd" />
	<xs:include schemaLocation="part_cloud_check.xsd" />

	<xs:include schemaLocation="part_version.xsd" />
	<xs:complexType name="SchemaInfoType">
		<xs:annotation>
			<xs:documentation>XMLスキーマ情報</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schemaType" type="xs:string" minOccurs="0"
				maxOccurs="1" default="I">
				<xs:annotation>
					<xs:documentation>データ型のタイプ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaVersion" type="xs:string"
				minOccurs="0" maxOccurs="1" default="1">
				<xs:annotation>
					<xs:documentation>データ型のバージョン</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaRevision" type="xs:string"
				minOccurs="0" maxOccurs="1" default="1">
				<xs:annotation>
					<xs:documentation>データ型のバージョン</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="cloudScope" type="CloudScopeType">
		<xs:annotation>
			<xs:documentation>
				ログインユーザ一覧のルートエレメントです。
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="CloudScopeType">
		<xs:annotation>
			<xs:documentation>ログインユーザ一覧のデータ型です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="common" type="CommonType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XMLに付与する一般情報</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaInfo" type="SchemaInfoType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XMLスキーマ情報</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="iCloudScope" type="ICloudScopeType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						ログインユーザ一覧の配列です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ICloudScopeType">
		<xs:annotation>
			<xs:documentation>ログインユーザ一覧のデータ型です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudScopeBaseInfo">
				<xs:sequence>
					<xs:element name="amazon" type="AmazonType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Amazon設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="vmware" type="VMwareType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								VMware設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hyperv" type="HypervType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Hyper-V設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="azure" type="AzureType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Azure設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="google" type="GoogleType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Google設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="oracle" type="OracleType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Oracle設定情報です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AmazonType">
		<xs:annotation>
			<xs:documentation>Amazon設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="validCollect" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						課金詳細収集フラグです。
						{有効(true)、無効(false)}のどちらかを指定します。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="term" type="xs:integer" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						保存期間です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="s3packet" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						S3パケット名です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amazonUser" type="AmazonUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						AmazonUser設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AmazonUserType">
		<xs:annotation>
			<xs:documentation>AmazonUser設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="accessKey" type="xs:string">
						<xs:annotation>
							<xs:documentation>AWSアクセスキーです。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secretKey" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AWSシークレットキーです。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="VMwareType">
		<xs:annotation>
			<xs:documentation>VMware設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vmwareExiIp" type="xs:string">
				<xs:annotation>
					<xs:documentation>VMware接続先IPアドレスです。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vmwareExiProtocol" type="xs:string">
				<xs:annotation>
					<xs:documentation>VMware接続先プロトコルです。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vmwareUser" type="VMwareUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						VMwareUser設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VMwareUserType">
		<xs:annotation>
			<xs:documentation>VMwareUser設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="vmwareUserName" type="xs:string">
						<xs:annotation>
							<xs:documentation>VMwareユーザ名です。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="vmwarePassword" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>VMwareパスワードです。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HypervType">
		<xs:annotation>
			<xs:documentation>Hyper-V設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ipAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hyper-VのWMI接続先IPアドレスです。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protocol" type="xs:string">
				<xs:annotation>
					<xs:documentation>Hyper-VのWMI接続先プロトコルです。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hypervUser" type="HypervUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Hyper-VのWMI接続User設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HypervUserType">
		<xs:annotation>
			<xs:documentation>Hyper-VのWMI接続User設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="userName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Hyper-VのWMI接続ユーザ名です。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="password" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Hyper-VのWMI接続パスワードです。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AzureType">
		<xs:annotation>
			<xs:documentation>Azure設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="validCollect" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						課金詳細収集フラグです。
						{有効(true)、無効(false)}のどちらかを指定します。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="term" type="xs:integer" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						保存期間です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginDate" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						契約開始日です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="planId" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						契約プランIDです。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="billingRegion" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						課金請求リージョンです。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						課金請求通貨です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="azureUser" type="AzureUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						AzureAPI接続アプリケーション設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AzureUserType">
		<xs:annotation>
			<xs:documentation>AzureAPI接続アプリケーション設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="tenantId" type="xs:string">
						<xs:annotation>
							<xs:documentation>AzureのActiveDirectory（テナント）のIDです。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicationId" type="xs:string">
						<xs:annotation>
							<xs:documentation>AzureのアプリケーションIDです。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subscriptionId" type="xs:string">
						<xs:annotation>
							<xs:documentation>AzureのサブスクリプションIDです。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secretKey" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>AzureのアプリケーションにおけるKeyです。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoogleType">
		<xs:annotation>
			<xs:documentation>Google設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="projectId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Project ID.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Authentication Type Details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="googleUser" type="GoogleUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						GoogleUser設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="GoogleUserType">
		<xs:annotation>
			<xs:documentation>GoogleUser設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="serviceAccountKeyFileName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Google Private Key File Name。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="OracleType">
		<xs:annotation>
			<xs:documentation>Oracle設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authenticationType" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Authentication Type Details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oracleUser" type="OracleUserType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						OracleUser設定情報です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="OracleUserType">
		<xs:annotation>
			<xs:documentation>OracleUser設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CloudCheckInfo">
				<xs:sequence>
					<xs:element name="tenantId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle Tentant Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle User Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fingerprint" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle Finger Print</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="passphrase" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle Passphrase</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="defaultRegion" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle Default Region</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="privateKeyFileName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Oracle Private Key File Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType></xs:schema>
