HinemosClient/config/utility/xsd/monitor_check_http_scenario.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: monitor_check_http_scenario.xsd 303 2015-02-04 19:00:00Z uchiyama $ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="part_monitor_master.xsd" />
	<xs:include schemaLocation="part_monitor_check.xsd" />
	<xs:include schemaLocation="part_version.xsd" />

	<xs:complexType name="SchemaInfoType">
		<xs:annotation>
			<xs:documentation>XMLスキーマ情報</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schemaType" type="xs:string" minOccurs="0" maxOccurs="1"  default="H">
				<xs:annotation>
					<xs:documentation>データ型のタイプ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaVersion" type="xs:string" minOccurs="0" maxOccurs="1" default="1">
				<xs:annotation>
					<xs:documentation>データ型のバージョン</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaRevision" type="xs:string" minOccurs="0" maxOccurs="1" default="3">
				<xs:annotation>
					<xs:documentation>データ型のバージョン</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="httpScenarioMonitors" type="HttpScenarioMonitorList">
		<xs:annotation>
			<xs:documentation>HTTP監視(シナリオ)設定情報のルートエレメントです。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="HttpScenarioMonitorList">
		<xs:annotation>
			<xs:documentation>HTTP監視(シナリオ)設定情報のルートエレメントです。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="common" type="CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XMLに付与する一般情報</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="schemaInfo" type="SchemaInfoType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>XMLスキーマ情報</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="httpScenarioMonitor" type="MonitorHttpScenario" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>HTTP監視(シナリオ)設定</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="httpScenario" type="MonitorHttpScenario" />
	<xs:complexType name="MonitorHttpScenario">
		<xs:annotation>
			<xs:documentation>HTTP監視(シナリオ)の１設定分です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="monitor" type="MonitorInfo" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>監視設定情報（共通）です。</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="httpScenarioInfo" type="MonitorHttpScenarioInfo" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						監視設定情報（HTTP監視(シナリオ)固有部分）です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="MonitorHttpScenarioInfo">
		<xs:annotation>
			<xs:documentation>HTTP監視(シナリオ)設定情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MonitorCheckInfo">
				<xs:sequence>
					<xs:element name="authType" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								認証タイプです。
								{BASIC、DIGEST、NTLM}のいずれかを指定します。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="authUser" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								認証ユーザです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="authPassword" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								認証パスワードです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="proxyFlg" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								プロキシの有効/無効フラグです。
								{有効(True)、無効(False)}の文字列が入ります。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="proxyUrl" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								プロキシのURLです。http://で始まる文字列を指定します。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="proxyPort" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								プロキシのポート番号です。0から65535の間で指定します。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="proxyUser" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								プロキシの認証用ユーザです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="proxyPassword" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								プロキシの認証用パスワードです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monitoringPerPageFlg" type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								ページ単位の収集を行うかを切り替えるフラグです。
								{有効(True)、無効(False)}の文字列が入ります。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userAgent" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								ユーザエージェントです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="connectTimeout" type="xs:int" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								コネクションタイムアウトです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestTimeout" type="xs:int" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								リクエストタイムアウトです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pageValue" type="PageInfo" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>シナリオ判定ページ情報です。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="PageInfo">
		<xs:annotation>
			<xs:documentation>シナリオ監視で用いるページ情報です。</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MonitorJudgementInfo">
				<xs:sequence>
					
					<xs:element name="pageOrderNo" type="xs:int"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								ページの判定順序の値(１～)です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="description" type="xs:string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								この判定情報に対する説明文です。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="url" type="xs:string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								判定に使用するＵＲＬです。http://で始まる文字列を指定します。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="statusCode" type="xs:string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								判定に使用するかを判別するステータスコードです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="post" type="xs:string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								判定に使用するPOSTです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								判定結果を示すメッセージです。
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="patternValue" type="patternInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ページ内容判定情報です。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="variableValue" type="variableInfo" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ページ変数情報です。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="patternInfo">
		<xs:annotation>
			<xs:documentation>ページ内容判定情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="monitorId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						監視項目IDです。 PINGやエージェントなどの各監視項目内で一意である必要があります。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="patternOrderNo" type="xs:int"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						閾値(文字列)の判定順序の値(１～)です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="description" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						この判定情報に対する説明文です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pattern" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						判定で用いるパターンマッチ表現(正規表現)です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processType" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						処理タイプです。判定結果に対し、{一致したら正常(False), 一致したら異常(True)}を入力します。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="caseSensitivityFlg"
				type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						「大文字・小文字を区別しない」のフラグです。
						{しない(True)、する(False)}の文字列が入ります。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFlg" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						この判定設定の有効・無効フラグです。
						{有効(True)、無効(False)}の文字列が入ります。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="variableInfo">
		<xs:annotation>
			<xs:documentation>ページ変数情報です。</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="monitorId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						監視項目IDです。 PINGやエージェントなどの各監視項目内で一意である必要があります。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						変数名です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						値です。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="matchingWithResponseFlg" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						現在ページから取得する・しないフラグです。
						{する(True)、しない(False)}の文字列が入ります。
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>

</xs:schema>